<p id="notice"><%= notice %></p>

<p>
  <b>Client:</b>
  <%= @components_half_link.client_id %>
</p>

<p>
  <b>Product:</b>
  <%= @components_half_link.product_id %>
</p>

<p>
  <b>Sku:</b>
  <%= @components_half_link.sku %>
</p>

<p>
  <b>Name:</b>
  <%= @components_half_link.name %>
</p>

<p>
  <b>Description:</b>
  <%= @components_half_link.description %>
</p>

<p>
  <b>Image path:</b>
  <%= @components_half_link.image_path %>
</p>

<p>
  <b>Vendor:</b>
  <%= @components_half_link.vendor %>
</p>

<p>
  <b>Brand:</b>
  <%= @components_half_link.brand %>
</p>

<p>
  <b>Material:</b>
  <%= @components_half_link.material %>
</p>

<p>
  <b>Color:</b>
  <%= @components_half_link.color %>
</p>

<p>
  <b>Finish:</b>
  <%= @components_half_link.finish %>
</p>

<p>
  <b>Cost:</b>
  <%= @components_half_link.cost %>
</p>

<p>
  <b>Price:</b>
  <%= @components_half_link.price %>
</p>

<p>
  <b>Width:</b>
  <%= @components_half_link.width %>
</p>


<%= link_to 'Edit', edit_components_half_link_path(@components_half_link) %> |
<%= link_to 'Back', components_half_links_path %>
