<p id="notice"><%= notice %></p>

<p>
  <b>Client:</b>
  <%= @components_grip.client_id %>
</p>

<p>
  <b>Product:</b>
  <%= @components_grip.product_id %>
</p>

<p>
  <b>Sku:</b>
  <%= @components_grip.sku %>
</p>

<p>
  <b>Name:</b>
  <%= @components_grip.name %>
</p>

<p>
  <b>Description:</b>
  <%= @components_grip.description %>
</p>

<p>
  <b>Image path:</b>
  <%= @components_grip.image_path %>
</p>

<p>
  <b>Vendor:</b>
  <%= @components_grip.vendor %>
</p>

<p>
  <b>Brand:</b>
  <%= @components_grip.brand %>
</p>

<p>
  <b>Material:</b>
  <%= @components_grip.material %>
</p>

<p>
  <b>Color:</b>
  <%= @components_grip.color %>
</p>

<p>
  <b>Finish:</b>
  <%= @components_grip.finish %>
</p>

<p>
  <b>Cost:</b>
  <%= @components_grip.cost %>
</p>

<p>
  <b>Price:</b>
  <%= @components_grip.price %>
</p>

<p>
  <b>Size:</b>
  <%= @components_grip.size %>
</p>


<%= link_to 'Edit', edit_components_grip_path(@components_grip) %> |
<%= link_to 'Back', components_grips_path %>
