<p id="notice"><%= notice %></p>

<p>
  <b>Client:</b>
  <%= @components_rear_wheel.client_id %>
</p>

<p>
  <b>Product:</b>
  <%= @components_rear_wheel.product_id %>
</p>

<p>
  <b>Sku:</b>
  <%= @components_rear_wheel.sku %>
</p>

<p>
  <b>Name:</b>
  <%= @components_rear_wheel.name %>
</p>

<p>
  <b>Description:</b>
  <%= @components_rear_wheel.description %>
</p>

<p>
  <b>Image path:</b>
  <%= @components_rear_wheel.image_path %>
</p>

<p>
  <b>Vendor:</b>
  <%= @components_rear_wheel.vendor %>
</p>

<p>
  <b>Brand:</b>
  <%= @components_rear_wheel.brand %>
</p>

<p>
  <b>Material:</b>
  <%= @components_rear_wheel.material %>
</p>

<p>
  <b>Color:</b>
  <%= @components_rear_wheel.color %>
</p>

<p>
  <b>Finish:</b>
  <%= @components_rear_wheel.finish %>
</p>

<p>
  <b>Cost:</b>
  <%= @components_rear_wheel.cost %>
</p>

<p>
  <b>Price:</b>
  <%= @components_rear_wheel.price %>
</p>

<p>
  <b>Hub width:</b>
  <%= @components_rear_wheel.hub_width %>
</p>

<p>
  <b>Size:</b>
  <%= @components_rear_wheel.size %>
</p>

<p>
  <b>Rim width:</b>
  <%= @components_rear_wheel.rim_width %>
</p>

<p>
  <b>Rear brake type:</b>
  <%= @components_rear_wheel.rear_brake_type %>
</p>

<p>
  <b>Cog spline thread:</b>
  <%= @components_rear_wheel.cog_spline_thread %>
</p>


<%= link_to 'Edit', edit_components_rear_wheel_path(@components_rear_wheel) %> |
<%= link_to 'Back', components_rear_wheels_path %>
