<p id="notice"><%= notice %></p>

<p>
  <b>Client:</b>
  <%= @components_front_wheel.client_id %>
</p>

<p>
  <b>Product:</b>
  <%= @components_front_wheel.product_id %>
</p>

<p>
  <b>Sku:</b>
  <%= @components_front_wheel.sku %>
</p>

<p>
  <b>Name:</b>
  <%= @components_front_wheel.name %>
</p>

<p>
  <b>Description:</b>
  <%= @components_front_wheel.description %>
</p>

<p>
  <b>Image path:</b>
  <%= @components_front_wheel.image_path %>
</p>

<p>
  <b>Vendor:</b>
  <%= @components_front_wheel.vendor %>
</p>

<p>
  <b>Brand:</b>
  <%= @components_front_wheel.brand %>
</p>

<p>
  <b>Material:</b>
  <%= @components_front_wheel.material %>
</p>

<p>
  <b>Color:</b>
  <%= @components_front_wheel.color %>
</p>

<p>
  <b>Finish:</b>
  <%= @components_front_wheel.finish %>
</p>

<p>
  <b>Cost:</b>
  <%= @components_front_wheel.cost %>
</p>

<p>
  <b>Price:</b>
  <%= @components_front_wheel.price %>
</p>

<p>
  <b>Tube width:</b>
  <%= @components_front_wheel.tube_width %>
</p>

<p>
  <b>Size:</b>
  <%= @components_front_wheel.size %>
</p>

<p>
  <b>Trim width:</b>
  <%= @components_front_wheel.trim_width %>
</p>

<p>
  <b>Front brake type:</b>
  <%= @components_front_wheel.front_brake_type %>
</p>

<p>
  <b>Hub width:</b>
  <%= @components_front_wheel.hub_width %>
</p>


<%= link_to 'Edit', edit_components_front_wheel_path(@components_front_wheel) %> |
<%= link_to 'Back', components_front_wheels_path %>
