<% @page_title = 'Admin Area' %>

<h2>Manage Components</h2>
<p>
<%= link_to('Manage Seat Posts', components_seat_posts_path) %><br />
<%= link_to('Manage Seat Post Clamps', components_seat_clamps_path) %><br />
<%= link_to('Manage Stems', components_stems_path) %><br />
<%= link_to('Manage Handlebars', components_handlebars_path) %><br />
<%= link_to('Manage Levers (Rear)', components_rear_levers_path) %><br />
<%= link_to('Manage Levers (Front)', components_front_levers_path) %><br />
<%= link_to('Manage Shifters (Rear)', components_rear_shifters_path) %><br />
<%= link_to('Manage Shifters (Front)', components_front_shifters_path) %><br />
<%= link_to('Manage Deraileurs (Rear)', components_rear_deraileurs_path) %><br />
<%= link_to('Manage Deraileurs (Front)', components_front_deraileurs_path) %><br />
<%= link_to('Manage Forks', components_forks_path) %><br />
<%= link_to('Manage Headsets', components_headsets_path) %><br />
<%= link_to('Manage Wheels (Front)', components_front_wheels_path) %><br />
<%= link_to('Manage Wheels (Rear)', components_rear_wheels_path) %><br />
<%= link_to('Manage Rim Strips', components_rim_strips_path) %><br />
<%= link_to('Manage Tires (Front)', components_front_tires_path) %><br />
<%= link_to('Manage Tires (Rear)', components_rear_tires_path) %><br />
<%= link_to('Manage Tubes (Front)', components_front_tubes_path) %><br />
<%= link_to('Manage Tubes (Rear)', components_rear_tubes_path) %><br />
<%= link_to('Manage Cog Cassettes', components_cogs_path) %><br />
<%= link_to('Manage Brakes (Front)', components_front_brakes_path) %><br />
<%= link_to('Manage Brakes (Rear)', components_rear_brakes_path) %><br />
<%= link_to('Manage Bottom Brackets', components_bottom_brackets_path) %><br />
<%= link_to('Manage Cranks', components_cranks_path) %><br />
<%= link_to('Manage Chainrings', components_chainrings_path) %><br />
<%= link_to('Manage Chains', components_chains_path) %><br />
<%= link_to('Manage Half Links', components_half_links_path) %><br />
<%= link_to('Manage Grips', components_grips_path) %><br />
<%= link_to('Manage Pedals', components_pedals_path) %><br />
<%= link_to('Manage Saddles', components_saddles_path) %><br />
</p>
<br />
<%= link_to('Admin Menu', :action => 'menu') %><br />