<% @page_title = 'Admin Area' %>

<h2>Drummlin's Administration Area</h2>
<p>
<%= link_to('Manage Workshops', :controller => 'workshops', :action => 'index') %><br />
<%= link_to('Manage Frame Models', :controller => 'frame_models', :action => 'index') %><br />	
<%= link_to('Manage Component Packages', :controller => 'component_packages', :action => 'index') %><br />
<%= link_to('Manage Components', :controller => 'admin', :action => 'components') %><br />
<%= link_to('Manage Accessories', :controller => 'accessories', :action => 'index') %><br />	
<%= link_to('Manage Users', :controller => 'users', :action => 'index') %><br />
</p>
<br />
<%= link_to('Log out', :action => 'logout') %><br />