<% @page_title = @nav_id.humanize + 'Selection | Bike Builder Beta' %>
<%= render(:partial => 'bike_builder/partials/bike_builder_progress')%>
<div id="instructions_wrap">
<div id="instructions">
this is the <strong><%= @nav_id.humanize %></strong> dialogue box.
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nisi magna, aliquam vitae lobortis in, pharetra sit amet nibh. Nulla ullamcorper ultricies quam quis commodo. Vivamus volutpat pharetra neque, ac mollis nulla ornare sit amet. Curabitur bibendum fringilla urna in condimentum. Aliquam erat volutpat. Suspendisse eget urna vel risus pellentesque pretium a ac turpis. Praesent euismod adipiscing turpis, a molestie nisi pellentesque et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo enim, venenatis vitae suscipit eget, suscipit et augue. Maecenas nec dictum justo.</p>
</div>
</div>
<div class="center"><h2>
<% if @nav_id == 'drivetrain' %>
	<% if @drivetrain_complete == 'true' %>
	<%= link_to('Continue', {:action => 'front_end'}) %>
	<% else %>
	<%= @nav_id.humanize %> Components.
	<% end %>
	<% if @frame == 'false' %>
		<% @completion_error = 'you need a frame!' %>
	<% end %>
	
<% elsif @nav_id == 'front_end' %>
	<% if @front_end_complete == 'true' %>
	<%= link_to('Continue', {:action => 'wheels'}) %>
	<% else %>
	<%= @nav_id.humanize %> Components.
	<% end %>
	<% if @drivetrain_complete == 'false' %>
		<% @completion_error = 'you need to complete your drivetrain!' %>
	<% end %>

<% elsif @nav_id == 'wheels' %>
	<% if @wheels_complete == 'true' %>
	<%= link_to('Continue', {:action => 'finishing'}) %>
	<% else %>
	<%= @nav_id.humanize %> Components.
	<% end %>
	<% if @front_end_complete == 'false' %>
		<% @completion_error = 'you need to complete your front end!' %>
	<% end %>

<% elsif @nav_id == 'finishing' %>
	<% if @finishing_complete == 'true' %>
	<span style="color:green">Build Completed</span> 
	
	<% else %>
	<%= @nav_id.humanize %> Components.
	<% end %>
	<% if @wheels_complete == 'false' %>
		<% @completion_error = 'you need to complete your wheels!' %>
	<% end %>
<% end %>
</h2></div>

<%= render(:partial => 'bike_builder/partials/component_window') unless @completion_error %>
<hr>
