<p id="notice"><%= notice %></p>

<p>
  <b>Client:</b>
  <%= @components_front_lever.client_id %>
</p>

<p>
  <b>Product:</b>
  <%= @components_front_lever.product_id %>
</p>

<p>
  <b>Sku:</b>
  <%= @components_front_lever.sku %>
</p>

<p>
  <b>Name:</b>
  <%= @components_front_lever.name %>
</p>

<p>
  <b>Description:</b>
  <%= @components_front_lever.description %>
</p>

<p>
  <b>Image path:</b>
  <%= @components_front_lever.image_path %>
</p>

<p>
  <b>Vendor:</b>
  <%= @components_front_lever.vendor %>
</p>

<p>
  <b>Brand:</b>
  <%= @components_front_lever.brand %>
</p>

<p>
  <b>Material:</b>
  <%= @components_front_lever.material %>
</p>

<p>
  <b>Color:</b>
  <%= @components_front_lever.color %>
</p>

<p>
  <b>Finish:</b>
  <%= @components_front_lever.finish %>
</p>

<p>
  <b>Cost:</b>
  <%= @components_front_lever.cost %>
</p>

<p>
  <b>Price:</b>
  <%= @components_front_lever.price %>
</p>

<p>
  <b>Clamp diamter high:</b>
  <%= @components_front_lever.clamp_diamter_high %>
</p>

<p>
  <b>Clamp diameter low:</b>
  <%= @components_front_lever.clamp_diameter_low %>
</p>

<p>
  <b>Bar type:</b>
  <%= @components_front_lever.bar_type %>
</p>

<p>
  <b>Front brake type:</b>
  <%= @components_front_lever.front_brake_type %>
</p>

<p>
  <b>Front brake pull:</b>
  <%= @components_front_lever.front_brake_pull %>
</p>


<%= link_to 'Edit', edit_components_front_lever_path(@components_front_lever) %> |
<%= link_to 'Back', components_front_levers_path %>
