<p id="notice"><%= notice %></p>

<p>
  <b>Client:</b>
  <%= @components_rim_strip.client_id %>
</p>

<p>
  <b>Product:</b>
  <%= @components_rim_strip.product_id %>
</p>

<p>
  <b>Sku:</b>
  <%= @components_rim_strip.sku %>
</p>

<p>
  <b>Name:</b>
  <%= @components_rim_strip.name %>
</p>

<p>
  <b>Description:</b>
  <%= @components_rim_strip.description %>
</p>

<p>
  <b>Image path:</b>
  <%= @components_rim_strip.image_path %>
</p>

<p>
  <b>Vendor:</b>
  <%= @components_rim_strip.vendor %>
</p>

<p>
  <b>Brand:</b>
  <%= @components_rim_strip.brand %>
</p>

<p>
  <b>Material:</b>
  <%= @components_rim_strip.material %>
</p>

<p>
  <b>Color:</b>
  <%= @components_rim_strip.color %>
</p>

<p>
  <b>Finish:</b>
  <%= @components_rim_strip.finish %>
</p>

<p>
  <b>Cost:</b>
  <%= @components_rim_strip.cost %>
</p>

<p>
  <b>Price:</b>
  <%= @components_rim_strip.price %>
</p>


<%= link_to 'Edit', edit_components_rim_strip_path(@components_rim_strip) %> |
<%= link_to 'Back', components_rim_strips_path %>
