<p id="notice"><%= notice %></p>

<p>
  <b>Client:</b>
  <%= @components_front_brake.client_id %>
</p>

<p>
  <b>Product:</b>
  <%= @components_front_brake.product_id %>
</p>

<p>
  <b>Sku:</b>
  <%= @components_front_brake.sku %>
</p>

<p>
  <b>Name:</b>
  <%= @components_front_brake.name %>
</p>

<p>
  <b>Description:</b>
  <%= @components_front_brake.description %>
</p>

<p>
  <b>Image path:</b>
  <%= @components_front_brake.image_path %>
</p>

<p>
  <b>Vendor:</b>
  <%= @components_front_brake.vendor %>
</p>

<p>
  <b>Brand:</b>
  <%= @components_front_brake.brand %>
</p>

<p>
  <b>Material:</b>
  <%= @components_front_brake.material %>
</p>

<p>
  <b>Color:</b>
  <%= @components_front_brake.color %>
</p>

<p>
  <b>Finish:</b>
  <%= @components_front_brake.finish %>
</p>

<p>
  <b>Cost:</b>
  <%= @components_front_brake.cost %>
</p>

<p>
  <b>Price:</b>
  <%= @components_front_brake.price %>
</p>

<p>
  <b>Pull:</b>
  <%= @components_front_brake.pull %>
</p>

<p>
  <b>Mount high:</b>
  <%= @components_front_brake.mount_high %>
</p>

<p>
  <b>Mount low:</b>
  <%= @components_front_brake.mount_low %>
</p>

<p>
  <b>Front tire max width:</b>
  <%= @components_front_brake.front_tire_max_width %>
</p>


<%= link_to 'Edit', edit_components_front_brake_path(@components_front_brake) %> |
<%= link_to 'Back', components_front_brakes_path %>
