<p id="notice"><%= notice %></p>

<p>
  <b>Client:</b>
  <%= @components_saddle.client_id %>
</p>

<p>
  <b>Product:</b>
  <%= @components_saddle.product_id %>
</p>

<p>
  <b>Sku:</b>
  <%= @components_saddle.sku %>
</p>

<p>
  <b>Name:</b>
  <%= @components_saddle.name %>
</p>

<p>
  <b>Description:</b>
  <%= @components_saddle.description %>
</p>

<p>
  <b>Image path:</b>
  <%= @components_saddle.image_path %>
</p>

<p>
  <b>Vendor:</b>
  <%= @components_saddle.vendor %>
</p>

<p>
  <b>Brand:</b>
  <%= @components_saddle.brand %>
</p>

<p>
  <b>Material:</b>
  <%= @components_saddle.material %>
</p>

<p>
  <b>Color:</b>
  <%= @components_saddle.color %>
</p>

<p>
  <b>Finish:</b>
  <%= @components_saddle.finish %>
</p>

<p>
  <b>Cost:</b>
  <%= @components_saddle.cost %>
</p>

<p>
  <b>Price:</b>
  <%= @components_saddle.price %>
</p>


<%= link_to 'Edit', edit_components_saddle_path(@components_saddle) %> |
<%= link_to 'Back', components_saddles_path %>
