<%= form_for(@frame_model) do |f| %>
  <% if @frame_model.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@frame_model.errors.count, "error") %> prohibited this frame_model from being saved:</h2>

      <ul>
      <% @frame_model.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product_id %><br />
    <%= f.text_field :product_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>


	<%= f.label :options %><br /> 
	<% if @frame_model.options %>
	<%= f.select :options, options_for_select([['Size Only', 1], ['Size & Gears', 2], ['Size & Top Tube', 3], ['Size & Top Tube & Gears', 4]], @frame_model.options)%>
	<% else %>
	<%= f.select :options, options_for_select([['Size Only', 1], ['Size & Gears', 2], ['Size & Top Tube', 3], ['Size & Top Tube & Gears', 4]]) %>
	<% end %>

  <div class="field">
    <%= f.label :image_path %><br />
    <%= f.text_field :image_path %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
