<p id="notice"><%= notice %></p>

<p>
  <b>Client:</b>
  <%= @components_seat_clamp.client_id %>
</p>

<p>
  <b>Product:</b>
  <%= @components_seat_clamp.product_id %>
</p>

<p>
  <b>Sku:</b>
  <%= @components_seat_clamp.sku %>
</p>

<p>
  <b>Name:</b>
  <%= @components_seat_clamp.name %>
</p>

<p>
  <b>Description:</b>
  <%= @components_seat_clamp.description %>
</p>

<p>
  <b>Image path:</b>
  <%= @components_seat_clamp.image_path %>
</p>

<p>
  <b>Vendor:</b>
  <%= @components_seat_clamp.vendor %>
</p>

<p>
  <b>Brand:</b>
  <%= @components_seat_clamp.brand %>
</p>

<p>
  <b>Material:</b>
  <%= @components_seat_clamp.material %>
</p>

<p>
  <b>Color:</b>
  <%= @components_seat_clamp.color %>
</p>

<p>
  <b>Finish:</b>
  <%= @components_seat_clamp.finish %>
</p>

<p>
  <b>Cost:</b>
  <%= @components_seat_clamp.cost %>
</p>

<p>
  <b>Price:</b>
  <%= @components_seat_clamp.price %>
</p>


<%= link_to 'Edit', edit_components_seat_clamp_path(@components_seat_clamp) %> |
<%= link_to 'Back', components_seat_clamps_path %>
