<p id="notice"><%= notice %></p>

<p>
  <b>Client:</b>
  <%= @components_seat_post.client_id %>
</p>

<p>
  <b>Sku:</b>
  <%= @components_seat_post.sku %>
</p>

<p>
  <b>Name:</b>
  <%= @components_seat_post.name %>
</p>

<p>
  <b>Description:</b>
  <%= @components_seat_post.description %>
</p>

<p>
  <b>Image path:</b>
  <%= @components_seat_post.image_path %>
</p>

<p>
  <b>Product:</b>
  <%= @components_seat_post.product_id %>
</p>

<p>
  <b>Vendor:</b>
  <%= @components_seat_post.vendor %>
</p>

<p>
  <b>Brand:</b>
  <%= @components_seat_post.brand %>
</p>

<p>
  <b>Material:</b>
  <%= @components_seat_post.material %>
</p>

<p>
  <b>Color:</b>
  <%= @components_seat_post.color %>
</p>

<p>
  <b>Finish:</b>
  <%= @components_seat_post.finish %>
</p>

<p>
  <b>Cost:</b>
  <%= @components_seat_post.cost %>
</p>

<p>
  <b>Price:</b>
  <%= @components_seat_post.price %>
</p>


<%= link_to 'Edit', edit_components_seat_post_path(@components_seat_post) %> |
<%= link_to 'Back', components_seat_posts_path %>
