
<% @page_title = @component ||= @nav_id %>
<% i = 0 %>
<div id="" style="">
<% i = 0 %>
<% @components.each do |component|  %>

	<div class="item">	
		<%= image_tag(component.image_path, :alt => "item", :size => "100x100", :class => "",:rel => "",
		:class => "lightview", :rel => "iframe", :title => component.name)  %><br />
		<div class="item_name"><%= component.name %><br />
	    <%= number_to_currency(component.price) %><br />

		<% if @nav_id == 'drivetrain' && (@fe_build_item == 'true' || @w_build_item == 'true') %>
		<%= link_to('select', {:action => 'select_component', :component => component.component_type, :id => component.id, :reset_fe_w => 'true'}, :confirm => "Adding this component will reset your front end & wheels" ) %>
		<% elsif (@nav_id == 'front_end') && (@w_build_item == 'true') %>
		<%= link_to('select', {:action => 'select_component', :component => component.component_type, :id => component.id, :reset_w => 'true'}, :confirm => "Adding this component will reset your wheels" ) %>
		<% else %>
		<%= link_to('select', :action => 'select_component', :component => component.component_type, :id => component.id) %>
		<% end %>
		</div>
	
		<% i += 1 %>
		
	</div>
	 <% if i == 5 %>
	<div style="clear:both"></div>
	<% i = 0 %>
	<!-- end clear -->
	<% end %>

<% end %>
<%= will_paginate @components %>
<div class="clear"></div>
</div><!-- end component grid -->
