<table id="show_components">
<tr>
	<td id="component_nav">
		<%= render :partial => 'bike_builder/partials/side_menu' %>
	</td>
	<td id="main_comp_window">
	<% if @component != nil %>
		
		<%= render :partial => 'bike_builder/partials/sort' %>
			<div id="component_grid">
			<%= render :partial => 'bike_builder/partials/component' %>
		</div><!-- end table div -->
		
	<% else %>	


				<h2 class="center">No Components Available</h2>
				
				<%= render :partial => 'bike_builder/partials/sort' %>
				<div id="component_grid">
				<%= render :partial => 'bike_builder/partials/component' %>
				</div>
	<% end %>
	</td>
</tr>
</table>
<div class="clear"></div>
<hr>
<% if @compatibility_check == 'on' %>
<%= render(:partial => 'bike_builder/partials/incompatible_components')%>
<% end %>
<hr>
<%= render(:partial => 'bike_builder/partials/current_build')%>
