<div class="center">subtotal: <%= number_to_currency(@build.total_price) %><br /><br />

	<% if session[:customer_id] %>
	 <%= link_to('Save Build', {:action => 'save_build'} ) %>&nbsp|&nbsp
	 <%= link_to('New Build', {:action => 'new_build'} ) %>
	<% else %>
	<div id="build_login" style="display:inline">
	please <%= login_link_helper('login', 'build_login') %> to save build
	</div>
	<% end %>
	&nbsp|&nbsp
	<%= link_to('Reset', {:action => 'reset_build'}, :confirm => 'Are you Sure?') %>
	<br />
	<%= link_to('Add Build to Cart', {:controller => 'public', :action => 'add_build_to_cart'}) %>
</div>
<br />
<div class="left">
<% if @customer_build %>
your build was last saved at: <strong><%= @customer_build.updated_at %></strong> <br />
<% end %>
<% if @build.items.count == 0 %>
	<table class="center">
		<tr>
			<td colspan="7" class="center"><h2>Your Bike Has No Parts!</h2></td>
		</tr>
	</table>
<% else %>
			---frame--- <%= link_to('clear frame/reset', {:action => 'reset_build' }, :class => "remove_item") %><br /> 
	<% @build.items.each do |item| %>
		<% if item.custom_frame_model %>
		custom frame model<br />
		gears:<%= @gear.name %>
		<% end %>
		<% if item.frame_model %>
		<strong>frame model:</strong> <%= item.frame_model.name %><br />
		<strong>size:</strong> <%= item.frame_model_size.name %><br />
		<strong>gears:</strong> <%= item.gear.name %> <br />
		<strong>top tube style:</strong> <%= item.top_tube_style.name %><br />
		<strong><%= number_to_currency(item.frame_model.price) %></strong>
		<% end %>
	<% end %>
	<br />
		---drivetrain--- 
		<% @drivetrain_price = 0.0 %>
		<%= link_to('clear drivetrain items', {:action => 'clear_compartment_from_build', :compartment => 'drivetrain'}, :class => "remove_item") %><br /> 
		<% @build.items.each do |item| %> 
		<% if item.component && (item.component.compartment == 'drivetrain') %>
		<strong><%= item.component.component_type %>:</strong> | 	
		<%= item.component.name %> |
		<%= number_to_currency(item.component.price) %> | 
		<% if (@fe_build_item == 'true' || @w_build_item == 'true') %>
						<%= link_to('remove', {:action => 'remove_component_from_build', :id => item.component.id, :component => item.component.component_type, :reset_fe_w => 'true'}, :class => "remove_item", :confirm => "Adding this component will reset your other compartments") %>
		<% else %>
		<%= link_to('remove', {:action => 'remove_component_from_build', :id => item.component.id, :component => item.component.component_type}, :class => "remove_item") %>
		<% end %>
		
		
		<br />
		<% @drivetrain_price += item.component.price %>
		<% end %>
		<% end %>
		<strong><%= number_to_currency(@drivetrain_price) %></strong>
		
	<br />
		---front end--- 
		<% @front_end_price = 0.0 %>
		<%= link_to('clear front end items', {:action => 'clear_compartment_from_build', :compartment => 'front_end'}, :class => "remove_item") %> <br />
		<% @build.items.each do |item| %>
		<% if item.component && (item.component.compartment == 'front_end') %>
		<strong><%= item.component.component_type %>:</strong> |  	
		<%= item.component.name %> |
		<%= number_to_currency(item.component.price) %> | 
		<% if @w_build_item == 'true' %>
		<%= link_to('remove', {:action => 'remove_component_from_build', :id => item.component.id, :component => item.component.component_type, :reset_w => 'true'}, :class => "remove_item", :confirm => "Adding this component will reset your other compartments") %><br />
		<% else%>
			<%= link_to('remove', {:action => 'remove_component_from_build', :id => item.component.id, :component => item.component.component_type}, :class => "remove_item") %><br />
		<% end %>
		<% @front_end_price += item.component.price %>
		<% end %>
		<% end %>
		<strong><%= number_to_currency(@front_end_price) %></strong>
		<br />
		
		---wheels--- 
		<% @wheels_price = 0.0 %>
		<%= link_to('clear front end items', {:action => 'clear_compartment_from_build', :compartment => 'wheels'}, :class => "remove_item") %> <br />
		<% @build.items.each do |item| %>
		<% if item.component && (item.component.compartment == 'wheels') %>
		<strong><%= item.component.component_type %>:</strong> |
		<%= item.component.name %> |
		<%= number_to_currency(item.component.price) %> |
		<%= link_to('remove', {:action => 'remove_component_from_build', :id => item.component.id, :component => item.component.component_type}, :class => "remove_item") %><br />
		<% @wheels_price += item.component.price %>
		<% end %>
		<% end %>
		<strong><%= number_to_currency(@wheels_price) %></strong>
		<br />
		
		---finishing--- 
		<% @finishing_price = 0.0 %>
		<%= link_to('clear finishing items', {:action => 'clear_compartment_from_build', :compartment => 'finishing'}, :class => "remove_item") %> <br />
		<% @build.items.each do |item| %>
		<% if item.component && (item.component.compartment == 'finishing') %>
		<strong><%= item.component.component_type %>:</strong> |
		<%= item.component.name %> |
		<%= number_to_currency(item.component.price) %> |
		<%= link_to('remove', {:action => 'remove_component_from_build', :id => item.component.id, :component => item.component.component_type}, :class => "remove_item") %><br />
		<% @finishing_price += item.component.price %>
		<% end %>
		<% end %>
		<strong><%= number_to_currency(@finishing_price) %></strong>


		
<% end %>



</div>
</div>