<table class="center padded">
	
<% @frames.each do |m| %>

	<tr class="<%= cycle('odd', 'even') %>">
		<td><%= image_tag(m.image_path, :size => "100x100", :alt => "", :class => "product_image", :style => "float:left") %></td>
		<td><p><strong><%= m.name %></strong></p>
		
		</td>
		<td>
			<% 	if m.sizes
			 	frame_sizes = m.sizes.split('x') 
				@frame_sizes = []
				frame_sizes.each do |x|
					@frame_sizes << FrameModelSize.find(x)
				end 
				end %>
			<%= form_for(m, :url => {:action => 'submit_frame', :id => m.id }) do |f| %> 
	
				<%= f.select :size_selection, options_from_collection_for_select(@frame_sizes, "id", "name"), :include_blank => @size_selection %>
		
				<% if m.options && m.options >= 3 %>


						<%= f.select :top_tube_selection, options_from_collection_for_select(@top_tube_styles, "id", "name"), :include_blank => @top_tube_selection %>

				<% end %>

			<% if m.options && ((m.options == 2) || (m.options == 4)) && ( m.gears != nil) %>
			<% model_gears = m.gears.split('x') 
			@gears = []
			model_gears.each do |x|
			@gears << Gear.find(x)
			end
			%>	
		
					<%= f.select :gear_selection, options_from_collection_for_select(@gears, "id", "name"), :include_blank => @gear_selection %>
		
			<% end %>
		</td>
			
		<td>	<%= number_to_currency(m.price) %><br />
				<div class="actions">
				<% if @build_component == 'true' %>
			    <%= f.submit "Select Frame", :onclick => "return confirm(\"If you continue, all components in your current build will be cleared. \")" %>	
				<% else %>
				<%= f.submit "Select Frame" %>
				<% end %>
			  </div>
			<%end %>
		</td>
	</tr>

<% end %>
</table>