<p id="notice"><%= notice %></p>

<p>
  <b>Client:</b>
  <%= @components_crank.client_id %>
</p>

<p>
  <b>Product:</b>
  <%= @components_crank.product_id %>
</p>

<p>
  <b>Sku:</b>
  <%= @components_crank.sku %>
</p>

<p>
  <b>Name:</b>
  <%= @components_crank.name %>
</p>

<p>
  <b>Description:</b>
  <%= @components_crank.description %>
</p>

<p>
  <b>Image path:</b>
  <%= @components_crank.image_path %>
</p>

<p>
  <b>Vendor:</b>
  <%= @components_crank.vendor %>
</p>

<p>
  <b>Brand:</b>
  <%= @components_crank.brand %>
</p>

<p>
  <b>Material:</b>
  <%= @components_crank.material %>
</p>

<p>
  <b>Color:</b>
  <%= @components_crank.color %>
</p>

<p>
  <b>Finish:</b>
  <%= @components_crank.finish %>
</p>

<p>
  <b>Cost:</b>
  <%= @components_crank.cost %>
</p>

<p>
  <b>Price:</b>
  <%= @components_crank.price %>
</p>

<p>
  <b>Num bolts:</b>
  <%= @components_crank.num_bolts %>
</p>

<p>
  <b>Bcd:</b>
  <%= @components_crank.bcd %>
</p>

<p>
  <b>Taper:</b>
  <%= @components_crank.taper %>
</p>

<p>
  <b>Front deraleur type:</b>
  <%= @components_crank.front_deraleur_type %>
</p>


<%= link_to 'Edit', edit_components_crank_path(@components_crank) %> |
<%= link_to 'Back', components_cranks_path %>
