<p id="notice"><%= notice %></p>

<p>
  <b>Client:</b>
  <%= @components_pedal.client_id %>
</p>

<p>
  <b>Product:</b>
  <%= @components_pedal.product_id %>
</p>

<p>
  <b>Sku:</b>
  <%= @components_pedal.sku %>
</p>

<p>
  <b>Name:</b>
  <%= @components_pedal.name %>
</p>

<p>
  <b>Description:</b>
  <%= @components_pedal.description %>
</p>

<p>
  <b>Image path:</b>
  <%= @components_pedal.image_path %>
</p>

<p>
  <b>Vendor:</b>
  <%= @components_pedal.vendor %>
</p>

<p>
  <b>Brand:</b>
  <%= @components_pedal.brand %>
</p>

<p>
  <b>Material:</b>
  <%= @components_pedal.material %>
</p>

<p>
  <b>Color:</b>
  <%= @components_pedal.color %>
</p>

<p>
  <b>Finish:</b>
  <%= @components_pedal.finish %>
</p>

<p>
  <b>Cost:</b>
  <%= @components_pedal.cost %>
</p>

<p>
  <b>Price:</b>
  <%= @components_pedal.price %>
</p>

<p>
  <b>Strap:</b>
  <%= @components_pedal.strap %>
</p>


<%= link_to 'Edit', edit_components_pedal_path(@components_pedal) %> |
<%= link_to 'Back', components_pedals_path %>
