<p id="notice"><%= notice %></p>

<p>
  <b>Client:</b>
  <%= @components_handlebar.client_id %>
</p>

<p>
  <b>Product:</b>
  <%= @components_handlebar.product_id %>
</p>

<p>
  <b>Sku:</b>
  <%= @components_handlebar.sku %>
</p>

<p>
  <b>Name:</b>
  <%= @components_handlebar.name %>
</p>

<p>
  <b>Description:</b>
  <%= @components_handlebar.description %>
</p>

<p>
  <b>Image path:</b>
  <%= @components_handlebar.image_path %>
</p>

<p>
  <b>Vendor:</b>
  <%= @components_handlebar.vendor %>
</p>

<p>
  <b>Brand:</b>
  <%= @components_handlebar.brand %>
</p>

<p>
  <b>Material:</b>
  <%= @components_handlebar.material %>
</p>

<p>
  <b>Color:</b>
  <%= @components_handlebar.color %>
</p>

<p>
  <b>Finish:</b>
  <%= @components_handlebar.finish %>
</p>

<p>
  <b>Cost:</b>
  <%= @components_handlebar.cost %>
</p>

<p>
  <b>Price:</b>
  <%= @components_handlebar.price %>
</p>

<p>
  <b>Clamp diamter:</b>
  <%= @components_handlebar.clamp_diamter %>
</p>

<p>
  <b>Tube:</b>
  <%= @components_handlebar.tube %>
</p>

<p>
  <b>Type:</b>
  <%= @components_handlebar.type %>
</p>

<p>
  <b>Stem clamp diamter:</b>
  <%= @components_handlebar.stem_clamp_diamter %>
</p>

<p>
  <b>Max turn size:</b>
  <%= @components_handlebar.max_turn_size %>
</p>


<%= link_to 'Edit', edit_components_handlebar_path(@components_handlebar) %> |
<%= link_to 'Back', components_handlebars_path %>
