<p id="notice"><%= notice %></p>

<p>
  <b>Client:</b>
  <%= @components_cog.client_id %>
</p>

<p>
  <b>Product:</b>
  <%= @components_cog.product_id %>
</p>

<p>
  <b>Sku:</b>
  <%= @components_cog.sku %>
</p>

<p>
  <b>Name:</b>
  <%= @components_cog.name %>
</p>

<p>
  <b>Description:</b>
  <%= @components_cog.description %>
</p>

<p>
  <b>Image path:</b>
  <%= @components_cog.image_path %>
</p>

<p>
  <b>Vendor:</b>
  <%= @components_cog.vendor %>
</p>

<p>
  <b>Brand:</b>
  <%= @components_cog.brand %>
</p>

<p>
  <b>Material:</b>
  <%= @components_cog.material %>
</p>

<p>
  <b>Color:</b>
  <%= @components_cog.color %>
</p>

<p>
  <b>Finish:</b>
  <%= @components_cog.finish %>
</p>

<p>
  <b>Cost:</b>
  <%= @components_cog.cost %>
</p>

<p>
  <b>Price:</b>
  <%= @components_cog.price %>
</p>

<p>
  <b>Num bolts:</b>
  <%= @components_cog.num_bolts %>
</p>

<p>
  <b>Teeth:</b>
  <%= @components_cog.teeth %>
</p>

<p>
  <b>Chain width:</b>
  <%= @components_cog.chain_width %>
</p>

<p>
  <b>Rear deraileur type:</b>
  <%= @components_cog.rear_deraileur_type %>
</p>

<p>
  <b>Spline thread type:</b>
  <%= @components_cog.spline_thread_type %>
</p>

<p>
  <b>Cog number:</b>
  <%= @components_cog.cog_number %>
</p>


<%= link_to 'Edit', edit_components_cog_path(@components_cog) %> |
<%= link_to 'Back', components_cogs_path %>
