<p id="notice"><%= notice %></p>

<p>
  <b>Product:</b>
  <%= @component_package.product_id %>
</p>

<p>
  <b>Name:</b>
  <%= @component_package.name %>
</p>

<p>
  <b>Description:</b>
  <%= @component_package.description %>
</p>

<p>
  <b>Price:</b>
  <%= @component_package.price %>
</p>
<% if (@component_package.package_type == 'full-multi_speed') || (@component_package.package_type == 'full-single_speed') %>
	<p>
	  <b>Frame Model:</b>
	  <% if @component_package.frame_model_id %>
	  	<%= FrameModel.find(@component_package.frame_model_id).name %>
	  <% else %>
	  	none selected
	  <% end %>
	</p>

	<p>
	  <b>Seat Post:</b>
	<% if @component_package.seat_post_id %>
		<%= Component.find(@component_package.seat_post_id).name %>
	<% else %>
		none selected
	<% end %>
	</p>

	<p>
	  <b>Seat Clamp:</b>
	<% if @component_package.front_lever_id %>
	<%= Component.find(@component_package.front_lever_id).name %>
	<% else %>
		none selected
	<% end %>
	</p>
	
	<p>
	  <b>Saddle:</b>
		<% if @component_package.saddle_id %>
			<%= Component.find(@component_package.saddle_id).name %>
		<% else %>
		none selected
		<% end %>
	</p>
	
	<p>
  	  <b>Pedals:</b>
	<% if @component_package.pedal_id %>
		<%= Component.find(@component_package.pedal_id).name %>
	<% else %>
	none selected
	<% end %>
	</p>

<% end %>


<% if (@component_package.package_type == 'full-single_speed') || (@component_package.package_type == 'full-multi_speed') || (@component_package.package_type == 'front_end-single_speed') || (@component_package.package_type == 'front_end-multi_speed') %>
	<p>
	  <b>Front Brakes:</b>
		<% if @component_package.front_brake_id %>
		<%= Component.find(@component_package.front_brake_id).name %>
		<% else %>
		none
		<% end %>
	</p>

	<p>
	  <b>Rear Brakes:</b>
		<% if @component_package.rear_brake_id %>
		<%= Component.find(@component_package.rear_brake_id).name %>
		<% else %>
		none 
		<% end %>
	</p>

	<p>
	  <b>Stem:</b>
	<% if @component_package.front_lever_id %>
	<%= Component.find(@component_package.front_lever_id).name %>
	<% else %>
		none selected
	<% end %>
	</p>

	<p>
	  <b>Handlebars:</b>
	<% if @component_package.front_lever_id %>
		<%= Component.find(@component_package.front_lever_id).name %>
	<% else %>
	none selected
	<% end %>
	</p>
	
	<p>
	  <b>Grips:</b>
	<% if @component_package.grip_id %>
		<%= Component.find(@component_package.grip_id).name %>
	<% else %>
	none selected
	<% end %>
	</p>
	
	<p>
	  <b>Front Lever:</b>
	<% if @component_package.front_lever_id %>
		<%= Component.find(@component_package.front_lever_id).name %>
	<% else %>
	none selected
	<% end %>
	</p>

	<p>
	  <b>Rear Lever:</b>
	<% if @component_package.rear_lever_id %>
		<%= Component.find(@component_package.rear_lever_id).name %>
	<% else %>
	none selected
	<% end %>
	</p>

	<p>
	  <b>Fork:</b>
	<% if @component_package.fork_id %>
		<%= Component.find(@component_package.fork_id).name %>
	<% else %>
	none selected
	<% end %>
	</p>

	<p>
	  <b>Headset:</b>
	<% if @component_package.headset_id %>
		<%= Component.find(@component_package.headset_id).name %>
	<% else %>
	none selected
	<% end %>
	</p>
	
<% end %>

<% if (@component_package.package_type == 'full-multi_speed') || (@component_package.package_type == 'front_end-multi_speed') %>
<p>
  <b>Front Shifter:</b>
<% if @component_package.front_shifter_id %>
	<%= Component.find(@component_package.front_shifter_id).name %>
<% else %>
none selected
<% end %>
</p>

<p>
  <b>Rear Shifter:</b>
<% if @component_package.rear_shifter_id %>
	<%= Component.find(@component_package.rear_shifter_id).name %>
<% else %>
none selected
<% end %>
</p>
<% end %>
<% if (@component_package.package_type == 'full') || (@component_package.package_type == 'wheels') %>
<p>
  <b>Wheels:</b>
front:
<% if @component_package.front_wheel_id %>
<%= Component.find(@component_package.front_wheel_id).name %>
 <% else %>
none selected
<% end %>
  rear:
<% if @component_package.rear_wheel_id %>
	<%= Component.find(@component_package.rear_wheel_id).name %>
<% else %>
none selected
<% end %>
</p>

<p>
  <b>Rim Strips:</b>
<% if @component_package.rim_strip_id %>
	<%= Component.find(@component_package.rim_strip_id).name %>
<% else %>
none selected
<% end %>
</p>

<p>
  <b>Tires:</b>
front:
<% if @component_package.front_tire_id %>
	<%= Component.find(@component_package.front_tire_id).name %>
<% else %>
none selected
<% end %>

	rear: 
<% if @component_package.rear_tire_id %>
<%= Component.find(@component_package.rear_tire_id).name %>
	<% else %>
	none selected
	<% end %>
</p>

<p>
  <b>Tubes:</b>
  front: 
<% if @component_package.front_tube_id %>
	<%= Component.find(@component_package.front_tube_id).name %>
<% else %>
none selected
<% end %>
	rear: 
	<% if @component_package.rear_tube_id %>
	<%= Component.find(@component_package.rear_tube_id).name %>
	<% else %>
	none selected
	<% end %>
</p>
<% end %>

<% if (@component_package.package_type == 'full-multi_speed') || (@component_package.package_type == 'drivetrain-multi_speed') %>
<p>
  <b>Deraileurs:</b>
  front: 
<% if @component_package.front_derailleur_id %>
	<%= Component.find(@component_package.front_derailleur_id).name %>
<% else %>
none selected
<% end %>
	rear: 
	<% if @component_package.rear_derailleur_id %>
	<%= Component.find(@component_package.rear_derailleur_id).name %>
	<% else %>
	none selected
	<% end %>
</p>
<% end %>
<% if (@component_package.package_type == 'full-multi_speed') || (@component_package.package_type == 'drivetrain-multi_speed') ||  (@component_package.package_type == 'full-single_speed') || (@component_package.package_type == 'drivetrain-single_speed') %>
<p>
  <b>Cog Cassette:</b>
<% if @component_package.cog_id %>
	<%= Component.find(@component_package.cog_id).name %>
<% else %>
none selected
<% end %>
</p>

<p>
  <b>Front Brakes:</b>
	<% if @component_package.front_brake_id %>
	<%= Component.find(@component_package.front_brake_id).name %>
	<% else %>
	none
	<% end %>
</p>

<p>
  <b>Rear Brakes:</b>
	<% if @component_package.rear_brake_id %>
	<%= Component.find(@component_package.rear_brake_id).name %>
	<% else %>
	none 
	<% end %>
</p>

<p>
  <b>Bottom Bracket:</b>
<% if @component_package.bottom_bracket_id %>
	<%= Component.find(@component_package.bottom_bracket_id).name %>
<% else %>
none selected
<% end %>
</p>

<p>
  <b>Crank:</b>
<% if @component_package.crank_id %>
	<%= Component.find(@component_package.crank_id).name %>
<% else %>
none selected
<% end %>
</p>

<p>
  <b>Chainring:</b>
<% if @component_package.chainring_id %>
	<%= Component.find(@component_package.chainring_id).name %>
<% else %>
none selected
<% end %>
</p>

<p>
  <b>Chain:</b>
<% if @component_package.chain_id %>
	<%= Component.find(@component_package.chain_id).name %>
<% else %>
none selected
<% end %>
</p>

<p>
  <b>Half Link:</b>
<% if @component_package.half_link_id %>
	<%= Component.find(@component_package.half_link_id).name %>
<% else %>
none selected
<% end %>
</p>
<% end %>

<%= link_to 'Edit', edit_component_package_path(@component_package) %> |
<%= link_to 'Back', component_packages_path %>
