<p id="notice"><%= notice %></p>

<p>
  <b>Client:</b>
  <%= @components_bottom_bracket.client_id %>
</p>

<p>
  <b>Product:</b>
  <%= @components_bottom_bracket.product_id %>
</p>

<p>
  <b>Sku:</b>
  <%= @components_bottom_bracket.sku %>
</p>

<p>
  <b>Name:</b>
  <%= @components_bottom_bracket.name %>
</p>

<p>
  <b>Description:</b>
  <%= @components_bottom_bracket.description %>
</p>

<p>
  <b>Image path:</b>
  <%= @components_bottom_bracket.image_path %>
</p>

<p>
  <b>Vendor:</b>
  <%= @components_bottom_bracket.vendor %>
</p>

<p>
  <b>Brand:</b>
  <%= @components_bottom_bracket.brand %>
</p>

<p>
  <b>Material:</b>
  <%= @components_bottom_bracket.material %>
</p>

<p>
  <b>Color:</b>
  <%= @components_bottom_bracket.color %>
</p>

<p>
  <b>Finish:</b>
  <%= @components_bottom_bracket.finish %>
</p>

<p>
  <b>Cost:</b>
  <%= @components_bottom_bracket.cost %>
</p>

<p>
  <b>Price:</b>
  <%= @components_bottom_bracket.price %>
</p>

<p>
  <b>Threading:</b>
  <%= @components_bottom_bracket.threading %>
</p>

<p>
  <b>Num bolts:</b>
  <%= @components_bottom_bracket.num_bolts %>
</p>

<p>
  <b>Spacing:</b>
  <%= @components_bottom_bracket.spacing %>
</p>

<p>
  <b>Bolt:</b>
  <%= @components_bottom_bracket.bolt %>
</p>

<p>
  <b>Taper:</b>
  <%= @components_bottom_bracket.taper %>
</p>

<p>
  <b>Width:</b>
  <%= @components_bottom_bracket.width %>
</p>

<p>
  <b>Shell width:</b>
  <%= @components_bottom_bracket.shell_width %>
</p>

<p>
  <b>Qfactor:</b>
  <%= @components_bottom_bracket.qfactor %>
</p>


<%= link_to 'Edit', edit_components_bottom_bracket_path(@components_bottom_bracket) %> |
<%= link_to 'Back', components_bottom_brackets_path %>
