

<% order.line_items.each do |item| %>
<% total_price += (item.price * item.quantity) %>
<% if (item.frame_model && item.workshop) && (item.client_id = @user.client_id) %>
<% if order_count == 0 %>
<tr><td colspan="3"><%=@user.client_id %>=<%=item.client_id%><% order_no = order.invoice_number %>
<%= order_no %>
</td>
<td><%= order.created_at.strftime("%m/%d/%y") %></td>
<td><%= Customer.find(order.customer_id).first_name %></td>


<% end %>
<% order_count = 1 %>

</tr>
	<tr class="<%= cycle('odd', 'even') %>">
		<td colspan="3">
			experience: <%= item.workshop.experience %><br />
			location: <%= item.workshop.location %><br />
			dates:	  	<%= item.workshop.start_date.to_date.strftime("%m/%d/%Y") %> to <br />
				<%= item.workshop.end_date.to_date.strftime("%m/%d/%Y") %>
		</td>
		<td colspan="2">
			<%= item.frame_model.name %>(<%= number_to_currency(item.frame_model.price) %>)<br />
			size:<%= item.frame_model_size.name %>(<%= number_to_currency(item.frame_model_size.price) %>)<br />
			top tube style: <%= item.top_tube_style.name %>(<%= number_to_currency(item.top_tube_style.price)%>)<br />
			gears: <%= item.gear.name %>(<%= number_to_currency(item.gear.price)%>)
		</td>
		<td>
			<% if item.component_package %>
			<%= item.component_package.name %>(<%= number_to_currency(item.component_package.price)%>)<br />
			<%= raw item.component_package.description %>
			<% @component_package_id = item.component_package.id %>
			<% @component_package_price = item.component_package.price %>
			<% else %>
			no component package selected
			<% @component_package_id = 'false' %>
			<% @component_package_price = 0 %>
			<% end %>	
		</td>


		<td>
			<p>quantity: <%= item.quantity %></p>
			<p>subtotal: <%= number_to_currency(item.frame_model.price + item.frame_model_size.price + item.gear.price + item.top_tube_style.price + @component_package_price) %></p>
			
		</td>
		<td><%= form_tag do %>
			<%= select_tag :status, options_for_select([["shipped", "shipped"], ["canceled", "canceled"], ["backordered", "backordered"]]), :include_blank => item.status, :onchange => remote_function(:url => {:action => 'orders', :id => item.id}, :with => "'status=' + this.value") %>
		<% end %></td>
		<td><%= form_for(item, :url => {:action => 'orders', :id => item.id}) do |f| %> 
			<%= f.text_field :tracking %>
			<div class="actions">
		    <%= f.submit %>
		  </div></td>
		<% end %>
	</tr>
	<% elsif item.frame_model && (item.workshop == nil) && (item.client_id == @user.client_id) %>
	
	<tr class="<%= cycle('odd', 'even') %>">

		<td colspan="3">
			N/A
		</td>
		<td colspan="2">
			<%= image_tag("default.png", :size => "100x100", :alt => "", :class => "product_image") %><br />
			<%= item.frame_model.name %>(<%= number_to_currency(item.frame_model.price) %>)<br />
			size:<%= item.frame_model_size.name %>(<%= number_to_currency(item.frame_model_size.price) %>)<br />
			top tube style: <%= item.top_tube_style.name %>(<%= number_to_currency(item.top_tube_style.price)%>)<br />
			gears: <%= item.gear.name %>(<%= number_to_currency(item.gear.price)%>)
		</td>
		<td>
			<% if item.component_package %>
			<%= item.component_package.name %>(<%= number_to_currency(item.component_package.price)%>)<br />
			<%= raw item.component_package.description %>
			<% @component_package_id = item.component_package.id %>
			<% @component_package_price = item.component_package.price %>
			<% else %>
			no component package selected
			<% @component_package_id = 'false' %>
			<% @component_package_price = 0 %>
			<% end %>	
		</td>


		<td>
			<p>quantity: <%= item.quantity %></p>
			<p>subtotal: <%= number_to_currency(item.frame_model.price + item.frame_model_size.price + item.gear.price + item.top_tube_style.price + @component_package_price) %></p>
		
		</td>
	</tr>

<% end %><!-- end kits & workshops -->
<% end %><!-- end kits & workshops -->