<% order.line_items.each do |item| %>
<% if item.component && item.accessory.nil? && (item.client_id == @user.client_id)  %>


		
	<tr class="<%= cycle('odd', 'even') %>">

		<td colspan="3">
			<%= image_tag("default.png", :size => "100x100", :alt => "", :class => "product_image") %>
		</td>
		<td colspan="2">
			<p><%= item.component.component_type %>: <%= item.component.name %></p>
		</td>
		<td>
			<p><%= item.component.description %></p>
		</td>


		<td>
			<p>quantity: <%= item.quantity %></p>
			<p>subtotal: <%= number_to_currency(item.component.price) %></p>
		</td>
		<td><%= form_tag do %>
			<%= select_tag :status, options_for_select([["shipped", "shipped"], ["canceled", "canceled"], ["backordered", "backordered"]]), :include_blank => item.status, :onchange => remote_function(:url => {:action => 'orders', :id => item.id}, :with => "'status=' + this.value") %>
		<% end %></td>
		<td><%= form_for(item, :url => {:action => 'orders', :id => item.id}) do |f| %> 
			<%= f.text_field :tracking %>
			<div class="actions">
		    <%= f.submit %>
		  </div></td>
		<% end %>
<% end %>
<% end %>
</tr>