<p id="notice"><%= notice %></p>

<p>
  <b>Client:</b>
  <%= @components_front_tube.client_id %>
</p>

<p>
  <b>Product:</b>
  <%= @components_front_tube.product_id %>
</p>

<p>
  <b>Sku:</b>
  <%= @components_front_tube.sku %>
</p>

<p>
  <b>Name:</b>
  <%= @components_front_tube.name %>
</p>

<p>
  <b>Description:</b>
  <%= @components_front_tube.description %>
</p>

<p>
  <b>Image path:</b>
  <%= @components_front_tube.image_path %>
</p>

<p>
  <b>Vendor:</b>
  <%= @components_front_tube.vendor %>
</p>

<p>
  <b>Brand:</b>
  <%= @components_front_tube.brand %>
</p>

<p>
  <b>Material:</b>
  <%= @components_front_tube.material %>
</p>

<p>
  <b>Color:</b>
  <%= @components_front_tube.color %>
</p>

<p>
  <b>Finish:</b>
  <%= @components_front_tube.finish %>
</p>

<p>
  <b>Cost:</b>
  <%= @components_front_tube.cost %>
</p>

<p>
  <b>Price:</b>
  <%= @components_front_tube.price %>
</p>

<p>
  <b>Size:</b>
  <%= @components_front_tube.size %>
</p>

<p>
  <b>Front wheel size:</b>
  <%= @components_front_tube.front_wheel_size %>
</p>

<p>
  <b>Front wheel trim width:</b>
  <%= @components_front_tube.front_wheel_trim_width %>
</p>

<p>
  <b>Front tire width:</b>
  <%= @components_front_tube.front_tire_width %>
</p>

<p>
  <b>Front tire size:</b>
  <%= @components_front_tube.front_tire_size %>
</p>


<%= link_to 'Edit', edit_components_front_tube_path(@components_front_tube) %> |
<%= link_to 'Back', components_front_tubes_path %>
