<div id="side_menu">
	<h3><%= link_to('Components', :action => 'index', :type => 'all') %></h3>
<ul>
	<li><%= link_to('bottom brackets', :action => 'index', :type => 'Bottom Bracket') %></li>
	<li><%= link_to('brakes (front)', :action => 'index', :type => 'Front Brake') %></li>
	<li><%= link_to('brakes (rear)', :action => 'index', :type => 'Rear Brake') %></li>
	<li><%= link_to('chains', :action => 'index', :type => 'Chain') %></li>
	<li><%= link_to('chainrings', :action => 'index', :type => 'Chainring') %></li>
	<li><%= link_to('cog cassettes', :action => 'index', :type => 'Cog Cassette') %></li>
	<li><%= link_to('cranks', :action => 'index', :type => 'Crank') %></li>
	<li><%= link_to('deraileurs (front)', :action => 'index', :type => 'Front Deraileur') %></li>
	<li><%= link_to('deraileurs (rear)', :action => 'index', :type => 'Rear Deraileur') %></li>
	<li><%= link_to('forks', :action => 'index', :type => 'Fork') %></li>
	<li><%= link_to('grips', :action => 'index', :type => 'Grip') %></li>
	<li><%= link_to('half links', :action => 'index', :type => 'Half Link') %></li>
	<li><%= link_to('handlebars', :action => 'index', :type => 'Handlebar') %></li>
	<li><%= link_to('headsets', :action => 'index', :type => 'Headset') %></li>
	<li><%= link_to('levers (front)', :action => 'index', :type => 'Front Lever') %></li>
	<li><%= link_to('levers (rear)', :action => 'index', :type => 'Rear Lever') %></li>
	<li><%= link_to('pedals', :action => 'index', :type => 'Pedals') %></li>
	<li><%= link_to('rim strips', :action => 'index', :type => 'Rim Strip') %></li>
	<li><%= link_to('saddles', :action => 'index', :type => 'Saddle') %></li>
	<li><%= link_to('seat clamps', :action => 'index', :type => 'Seat Clamp') %></li>
	<li><%= link_to('seat posts', :action => 'index', :type => 'Seat Post') %></li>
	<li><%= link_to('shifters (front)', :action => 'index', :type => 'Front Shifter') %></li>
	<li><%= link_to('shifters (rear)', :action => 'index', :type => 'Rear Shifter') %></li>
	<li><%= link_to('stems', :action => 'index', :type => 'Stem') %></li>
	<li><%= link_to('tires (front)', :action => 'index', :type => 'Front Tire') %></li>
	<li><%= link_to('tires (rear)', :action => 'index', :type => 'Rear Tire') %></li>
	<li><%= link_to('tubes (front)', :action => 'index', :type => 'Front Tube') %></li>
	<li><%= link_to('tubes (rear)', :action => 'index', :type => 'Rear Tube') %></li>
	<li><%= link_to('wheels (front)', :action => 'index', :type => 'Front Wheel') %></li>
	<li><%= link_to('wheels (rear)', :action => 'index', :type => 'Rear Wheel') %></li>
</ul>	
</div>