<ul id="workshop_progress">
	<h2 class="center">Kit Builder</h2>
	<li class="<%= @model %>"><%= link_to('1. Select Model', :action => 'bamboo_bike_kits') %></li>
	<li class="<%= @component_package %>"><%= link_to('2. Add Components', :action => 'bike_kit_component_packages') %></li>
	<li class="<%= @finish %>"><%= link_to('3. Finishing Touches', :action => 'kit_finishing') %></li>
</ul>