<div id="side_menu">
	<h3>Components</h3>
<ul>
	<li><%= link_to('bottom brackets', :action => 'show_components', :type => 'Bottom Brackets') %></li>
	<li><%= link_to('brakes (front)', :action => 'show_components', :type => 'Front Brakes') %></li>
	<li><%= link_to('brakes (rear)', :action => 'show_components', :type => 'Rear Brakes') %></li>
	<li><%= link_to('chains', :action => 'show_components', :type => 'Chains') %></li>
	<li><%= link_to('chainrings', :action => 'show_components', :type => 'Chainrings') %></li>
	<li><%= link_to('cog cassettes', :action => 'show_components', :type => 'Cog Cassettes') %></li>
	<li><%= link_to('cranks', :action => 'show_components', :type => 'Cranks') %></li>
	<li><%= link_to('forks', :action => 'show_components', :type => 'Forks') %></li>
	<li><%= link_to('grips', :action => 'show_components', :type => 'Grips') %></li>
	<li><%= link_to('half links', :action => 'show_components', :type => 'Half Links') %></li>
	<li><%= link_to('handlebars', :action => 'show_components', :type => 'Handlebars') %></li>
	<li><%= link_to('headsets', :action => 'show_components', :type => 'Headsets') %></li>
	<li><%= link_to('levers (front)', :action => 'show_components', :type => 'Front Levers') %></li>
	<li><%= link_to('levers (rear)', :action => 'show_components', :type => 'Rear Levers') %></li>
	<li><%= link_to('pedals', :action => 'show_components', :type => 'Pedals') %></li>
	<li><%= link_to('rim strips', :action => 'show_components', :type => 'Rim Strips') %></li>
	<li><%= link_to('saddles', :action => 'show_components', :type => 'Saddles') %></li>
	<li><%= link_to('seat clamps', :action => 'show_components', :type => 'Seat Clamps') %></li>
	<li><%= link_to('seat posts', :action => 'show_components', :type => 'Seat Posts') %></li>
	<li><%= link_to('stems', :action => 'show_components', :type => 'Stems') %></li>
	<li><%= link_to('tires (front)', :action => 'show_components', :type => 'Front Tires') %></li>
	<li><%= link_to('tires (rear)', :action => 'show_components', :type => 'Rear Tires') %></li>
	<li><%= link_to('tubes (front)', :action => 'show_components', :type => 'Front Tubes') %></li>
	<li><%= link_to('tubes (rear)', :action => 'show_components', :type => 'Rear Tubes') %></li>
	<li><%= link_to('wheels (front)', :action => 'show_components', :type => 'Front Wheels') %></li>
	<li><%= link_to('wheels (rear)', :action => 'show_components', :type => 'Rear Wheels') %></li>
</ul>	
</div>