<p id="notice"><%= notice %></p>

<p>
  <b>Client:</b>
  <%= @components_rear_brake.client_id %>
</p>

<p>
  <b>Product:</b>
  <%= @components_rear_brake.product_id %>
</p>

<p>
  <b>Sku:</b>
  <%= @components_rear_brake.sku %>
</p>

<p>
  <b>Name:</b>
  <%= @components_rear_brake.name %>
</p>

<p>
  <b>Description:</b>
  <%= @components_rear_brake.description %>
</p>

<p>
  <b>Image path:</b>
  <%= @components_rear_brake.image_path %>
</p>

<p>
  <b>Vendor:</b>
  <%= @components_rear_brake.vendor %>
</p>

<p>
  <b>Brand:</b>
  <%= @components_rear_brake.brand %>
</p>

<p>
  <b>Material:</b>
  <%= @components_rear_brake.material %>
</p>

<p>
  <b>Color:</b>
  <%= @components_rear_brake.color %>
</p>

<p>
  <b>Finish:</b>
  <%= @components_rear_brake.finish %>
</p>

<p>
  <b>Cost:</b>
  <%= @components_rear_brake.cost %>
</p>

<p>
  <b>Price:</b>
  <%= @components_rear_brake.price %>
</p>

<p>
  <b>Pull:</b>
  <%= @components_rear_brake.pull %>
</p>

<p>
  <b>Type:</b>
  <%= @components_rear_brake.type %>
</p>

<p>
  <b>Rear tire width max:</b>
  <%= @components_rear_brake.rear_tire_width_max %>
</p>

<p>
  <b>Rear wheel size:</b>
  <%= @components_rear_brake.rear_wheel_size %>
</p>

<p>
  <b>Rear wheel rim width:</b>
  <%= @components_rear_brake.rear_wheel_rim_width %>
</p>


<%= link_to 'Edit', edit_components_rear_brake_path(@components_rear_brake) %> |
<%= link_to 'Back', components_rear_brakes_path %>
