<p id="notice"><%= notice %></p>

<p>
  <b>Client:</b>
  <%= @components_chainring.client_id %>
</p>

<p>
  <b>Product:</b>
  <%= @components_chainring.product_id %>
</p>

<p>
  <b>Sku:</b>
  <%= @components_chainring.sku %>
</p>

<p>
  <b>Name:</b>
  <%= @components_chainring.name %>
</p>

<p>
  <b>Description:</b>
  <%= @components_chainring.description %>
</p>

<p>
  <b>Image path:</b>
  <%= @components_chainring.image_path %>
</p>

<p>
  <b>Vendor:</b>
  <%= @components_chainring.vendor %>
</p>

<p>
  <b>Brand:</b>
  <%= @components_chainring.brand %>
</p>

<p>
  <b>Material:</b>
  <%= @components_chainring.material %>
</p>

<p>
  <b>Color:</b>
  <%= @components_chainring.color %>
</p>

<p>
  <b>Finish:</b>
  <%= @components_chainring.finish %>
</p>

<p>
  <b>Cost:</b>
  <%= @components_chainring.cost %>
</p>

<p>
  <b>Price:</b>
  <%= @components_chainring.price %>
</p>

<p>
  <b>Bcd:</b>
  <%= @components_chainring.bcd %>
</p>

<p>
  <b>Num bolts:</b>
  <%= @components_chainring.num_bolts %>
</p>

<p>
  <b>Teeth:</b>
  <%= @components_chainring.teeth %>
</p>

<p>
  <b>Chain width:</b>
  <%= @components_chainring.chain_width %>
</p>

<p>
  <b>Front deraileur type:</b>
  <%= @components_chainring.front_deraileur_type %>
</p>


<%= link_to 'Edit', edit_components_chainring_path(@components_chainring) %> |
<%= link_to 'Back', components_chainrings_path %>
