<p id="notice"><%= notice %></p>

<p>
  <b>Client:</b>
  <%= @components_chain.client_id %>
</p>

<p>
  <b>Product:</b>
  <%= @components_chain.product_id %>
</p>

<p>
  <b>Sku:</b>
  <%= @components_chain.sku %>
</p>

<p>
  <b>Name:</b>
  <%= @components_chain.name %>
</p>

<p>
  <b>Description:</b>
  <%= @components_chain.description %>
</p>

<p>
  <b>Image path:</b>
  <%= @components_chain.image_path %>
</p>

<p>
  <b>Vendor:</b>
  <%= @components_chain.vendor %>
</p>

<p>
  <b>Brand:</b>
  <%= @components_chain.brand %>
</p>

<p>
  <b>Material:</b>
  <%= @components_chain.material %>
</p>

<p>
  <b>Color:</b>
  <%= @components_chain.color %>
</p>

<p>
  <b>Finish:</b>
  <%= @components_chain.finish %>
</p>

<p>
  <b>Cost:</b>
  <%= @components_chain.cost %>
</p>

<p>
  <b>Price:</b>
  <%= @components_chain.price %>
</p>

<p>
  <b>Cog num:</b>
  <%= @components_chain.cog_num %>
</p>


<%= link_to 'Edit', edit_components_chain_path(@components_chain) %> |
<%= link_to 'Back', components_chains_path %>
