<p id="notice"><%= notice %></p>

<p>
  <b>Client:</b>
  <%= @components_rear_tube.client_id %>
</p>

<p>
  <b>Product:</b>
  <%= @components_rear_tube.product_id %>
</p>

<p>
  <b>Sku:</b>
  <%= @components_rear_tube.sku %>
</p>

<p>
  <b>Name:</b>
  <%= @components_rear_tube.name %>
</p>

<p>
  <b>Description:</b>
  <%= @components_rear_tube.description %>
</p>

<p>
  <b>Image path:</b>
  <%= @components_rear_tube.image_path %>
</p>

<p>
  <b>Vendor:</b>
  <%= @components_rear_tube.vendor %>
</p>

<p>
  <b>Brand:</b>
  <%= @components_rear_tube.brand %>
</p>

<p>
  <b>Material:</b>
  <%= @components_rear_tube.material %>
</p>

<p>
  <b>Color:</b>
  <%= @components_rear_tube.color %>
</p>

<p>
  <b>Finish:</b>
  <%= @components_rear_tube.finish %>
</p>

<p>
  <b>Cost:</b>
  <%= @components_rear_tube.cost %>
</p>

<p>
  <b>Price:</b>
  <%= @components_rear_tube.price %>
</p>

<p>
  <b>Size:</b>
  <%= @components_rear_tube.size %>
</p>

<p>
  <b>Rear wheel size:</b>
  <%= @components_rear_tube.rear_wheel_size %>
</p>

<p>
  <b>Rear wheel trim width:</b>
  <%= @components_rear_tube.rear_wheel_trim_width %>
</p>

<p>
  <b>Rear tire width:</b>
  <%= @components_rear_tube.rear_tire_width %>
</p>

<p>
  <b>Rear tire size:</b>
  <%= @components_rear_tube.rear_tire_size %>
</p>


<%= link_to 'Edit', edit_components_rear_tube_path(@components_rear_tube) %> |
<%= link_to 'Back', components_rear_tubes_path %>
