<p id="notice"><%= notice %></p>

<p>
  <b>Client:</b>
  <%= @components_headset.client_id %>
</p>

<p>
  <b>Product:</b>
  <%= @components_headset.product_id %>
</p>

<p>
  <b>Sku:</b>
  <%= @components_headset.sku %>
</p>

<p>
  <b>Name:</b>
  <%= @components_headset.name %>
</p>

<p>
  <b>Description:</b>
  <%= @components_headset.description %>
</p>

<p>
  <b>Image path:</b>
  <%= @components_headset.image_path %>
</p>

<p>
  <b>Vendor:</b>
  <%= @components_headset.vendor %>
</p>

<p>
  <b>Brand:</b>
  <%= @components_headset.brand %>
</p>

<p>
  <b>Material:</b>
  <%= @components_headset.material %>
</p>

<p>
  <b>Color:</b>
  <%= @components_headset.color %>
</p>

<p>
  <b>Finish:</b>
  <%= @components_headset.finish %>
</p>

<p>
  <b>Cost:</b>
  <%= @components_headset.cost %>
</p>

<p>
  <b>Price:</b>
  <%= @components_headset.price %>
</p>

<p>
  <b>Head tube inner diameter:</b>
  <%= @components_headset.head_tube_inner_diameter %>
</p>

<p>
  <b>Steerer tube diameter:</b>
  <%= @components_headset.steerer_tube_diameter %>
</p>

<p>
  <b>Crown race diameter:</b>
  <%= @components_headset.crown_race_diameter %>
</p>


<%= link_to 'Edit', edit_components_headset_path(@components_headset) %> |
<%= link_to 'Back', components_headsets_path %>
