<p id="notice"><%= notice %></p>

<p>
  <b>Client:</b>
  <%= @components_stem.client_id %>
</p>

<p>
  <b>Product:</b>
  <%= @components_stem.product_id %>
</p>

<p>
  <b>Sku:</b>
  <%= @components_stem.sku %>
</p>

<p>
  <b>Name:</b>
  <%= @components_stem.name %>
</p>

<p>
  <b>Description:</b>
  <%= @components_stem.description %>
</p>

<p>
  <b>Image path:</b>
  <%= @components_stem.image_path %>
</p>

<p>
  <b>Vendor:</b>
  <%= @components_stem.vendor %>
</p>

<p>
  <b>Brand:</b>
  <%= @components_stem.brand %>
</p>

<p>
  <b>Material:</b>
  <%= @components_stem.material %>
</p>

<p>
  <b>Color:</b>
  <%= @components_stem.color %>
</p>

<p>
  <b>Finish:</b>
  <%= @components_stem.finish %>
</p>

<p>
  <b>Cost:</b>
  <%= @components_stem.cost %>
</p>

<p>
  <b>Price:</b>
  <%= @components_stem.price %>
</p>

<p>
  <b>Stem clamp diameter:</b>
  <%= @components_stem.stem_clamp_diameter %>
</p>

<p>
  <b>Steer tube diameter:</b>
  <%= @components_stem.steerer_tube_length %>
</p>

<p>
  <b>Steer tube inner diameter:</b>
  <%= @components_stem.steerer_tube_inner_diameter %>
</p>

<p>
  <b>Stem clamp low:</b>
  <%= @components_stem.stem_clamp_low %>
</p>

<p>
  <b>Stem clamp high:</b>
  <%= @components_stem.stem_clamp_high %>
</p>


<%= link_to 'Edit', edit_components_stem_path(@components_stem) %> |
<%= link_to 'Back', components_stems_path %>
