<h1>Listing components_front_tires</h1>

<table>
  <tr>
    <th>Client</th>
    <th>Product</th>
    <th>Sku</th>
    <th>Name</th>
    <th>Description</th>
    <th>Image path</th>
    <th>Vendor</th>
    <th>Brand</th>
    <th>Material</th>
    <th>Color</th>
    <th>Finish</th>
    <th>Cost</th>
    <th>Price</th>
    <th>Size</th>
    <th>Width</th>
    <th>Max size</th>
    <th>Front wheel size</th>
    <th>Front wheel trim width</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @components_front_tires.each do |components_front_tire| %>
  <tr>
    <td><%= components_front_tire.client_id %></td>
    <td><%= components_front_tire.product_id %></td>
    <td><%= components_front_tire.sku %></td>
    <td><%= components_front_tire.name %></td>
    <td><%= components_front_tire.description %></td>
    <td><%= components_front_tire.image_path %></td>
    <td><%= components_front_tire.vendor %></td>
    <td><%= components_front_tire.brand %></td>
    <td><%= components_front_tire.material %></td>
    <td><%= components_front_tire.color %></td>
    <td><%= components_front_tire.finish %></td>
    <td><%= components_front_tire.cost %></td>
    <td><%= components_front_tire.price %></td>
    <td><%= components_front_tire.size %></td>
    <td><%= components_front_tire.width %></td>
    <td><%= components_front_tire.max_size %></td>
    <td><%= components_front_tire.front_wheel_size %></td>
    <td><%= components_front_tire.front_wheel_trim_width %></td>
    <td><%= link_to 'Show', components_front_tire %></td>
    <td><%= link_to 'Edit', edit_components_front_tire_path(components_front_tire) %></td>
    <td><%= link_to 'Destroy', components_front_tire, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Front tire', new_components_front_tire_path %>
