<p id="notice"><%= notice %></p>

<p>
  <b>Client:</b>
  <%= @components_front_tire.client_id %>
</p>

<p>
  <b>Product:</b>
  <%= @components_front_tire.product_id %>
</p>

<p>
  <b>Sku:</b>
  <%= @components_front_tire.sku %>
</p>

<p>
  <b>Name:</b>
  <%= @components_front_tire.name %>
</p>

<p>
  <b>Description:</b>
  <%= @components_front_tire.description %>
</p>

<p>
  <b>Image path:</b>
  <%= @components_front_tire.image_path %>
</p>

<p>
  <b>Vendor:</b>
  <%= @components_front_tire.vendor %>
</p>

<p>
  <b>Brand:</b>
  <%= @components_front_tire.brand %>
</p>

<p>
  <b>Material:</b>
  <%= @components_front_tire.material %>
</p>

<p>
  <b>Color:</b>
  <%= @components_front_tire.color %>
</p>

<p>
  <b>Finish:</b>
  <%= @components_front_tire.finish %>
</p>

<p>
  <b>Cost:</b>
  <%= @components_front_tire.cost %>
</p>

<p>
  <b>Price:</b>
  <%= @components_front_tire.price %>
</p>

<p>
  <b>Size:</b>
  <%= @components_front_tire.size %>
</p>

<p>
  <b>Width:</b>
  <%= @components_front_tire.width %>
</p>

<p>
  <b>Max size:</b>
  <%= @components_front_tire.max_size %>
</p>

<p>
  <b>Front wheel size:</b>
  <%= @components_front_tire.front_wheel_size %>
</p>

<p>
  <b>Front wheel trim width:</b>
  <%= @components_front_tire.front_wheel_trim_width %>
</p>


<%= link_to 'Edit', edit_components_front_tire_path(@components_front_tire) %> |
<%= link_to 'Back', components_front_tires_path %>
