<% @page_title = "Customer Login" %>

<div class = "customer_login">
	<%= form_tag(:action=> 'attempt_login', :redirect => 'index') do %>
		<table class="">
			<tr>
				<td><%= label_tag(:email) %>:</td>
				<td><%= text_field_tag(:email) %></td>
			</tr>
			<tr>
					<td><%= label_tag(:password) %>:</td>
					<td><%= password_field_tag(:password) %></td>
			</tr>
			<tr>
					<td>&nbsp</td>
					<td><%= submit_tag("login") %></td>
			</tr>
		</table>
		<% end %>
</div>
