<% @page_title = 'Component Package Selection' %>
<%= render(:partial => 'public/partials/workshop_progress')%>
<% if session[:frame_model]%>
<%= render(:partial => 'public/partials/component_packages_table')%>
<<<<<<< HEAD
<div class="center"><%= link_to('bike builder beta', :controller => 'bike_builder', :action => 'drop_in') %> or <%= link_to('skip component packages', :action => 'show_finishing') %></div>
=======
<div class="center"><%= link_to('bike builder beta', :controller => 'bike_builder', :action => 'component_build') %> or <%= link_to('skip component packages', :action => 'show_finishing') %></div>
>>>>>>> 8cff72b39e01647914c41b8ad6d61250f4c3f963
</div><!-- end Component Package Selection -->

<% else %>
<h2 class="center"> please go back and select a <%= link_to('frame model', {:action => 'show_models'}, :class => "remove_item") %> before selecting a model.</h2>
<% end %>
